body{
    background-color: darkgrey;
}

h1{
    font-size: 30px;
    font-weight: bolder;
    color: white;
    text-align: center;
    transform: translateY(15px);
}

header{
    background-color: grey;
    height: 80px;
}

#contacto{
    padding-top: 200px;
}



ul{
padding-left: 100px;
}

#foot{
    padding-left: -100px;
}

footer{
    width: 100%;
}

input{
    width: 20%;
}

li{
padding-right: 30px;
padding-left: 2px;
float: left;
padding-bottom: 2px;
width: 40%;
padding-top: 2px
}

#profilepic{
    float: left;
    width: 200px;
    height: 200px;
}

h3{
   padding-left: 230px;
}

h4{
   text-align: center;
}

p{
    text-align: justify;
    padding-left: 230px;
    padding-right: 50px;
}



@media (min-width:610px) {
    header{
        background-image: url("https://usb.edu.pe/images/bannersistemas.jpg");
    }

    h1{
        font-size: 35px;
    }
}


@media (min-width:735px) {
   p{
    font-size: 20px;
   }

   h4{
    padding-top: 150px;
   }

   li{
    width: 200px;
   }

   ul{
    width: 100%;
   }

#contacto{
    text-align: center;
    transform: translate(-100px);
}

label{
    width: 30%;
    padding: 30px;
}

#foot{
    width: 50%;
}
}